div {
	background-color: #E4F9F5;
}
body {
	margin: 0;
    text-align: center;
		font-family: 'Ubuntu', sans-serif;
}
h1 {
	margin: 0;
	font-size: 70px;
	color: #66bfbf;
}

h2 {
	color: #66bfbf;
}
h3 {
	color: #66bfbf;
}
.top-container {
    background-color: #E0EBE7;
		padding-top: 100px;
}

.top-cloud {
    position: relative;
    left: 215px;
}
.bottom-cloud {
    position : relative;
    bottom: 245px;
		left: 120px;
}

.programmer {
	text-decoration: bold;
}

.tamzid {
	border-radius: 70%;
	height: 50%;
	width: 12%;
}

a {
	color: #66bfbf;
}
