div {
	background-color: #E4F9F5;
}
body {
	margin: 0;
    text-align: center;
}
h1 {
	margin: 0;
}
.top-container {
    background-color: #E0EBE7;
}

.top-cloud {
    position: relative;
    left: 200px;
    top: 25px;
}
.bottom-cloud {
    position : relative;
    bottom: 225px;
}
.arafat {
    position: absolute;
    display: block;
    left: 823px;

}
.programmer {
    position: relative;
    display: block;
    top: 17px;
}
.mountain {
    position: relative;

}
